---
layout: default
---


{% include career-profile.html %}

{% unless site.data.data.sidebar.education %}
  {% include education.html %}
{% endunless %}

{% include experiences.html %}

{% include certifications.html %}

{% comment %}
  {% include projects.html %}
{% endcomment %}

{% comment %}
  {% include oss-contributions.html %}
{% endcomment %}


{% comment %}
  {% include publications.html %}
{% endcomment %}

{% comment %}
  {% include recommendations.html %}
{% endcomment %}

{% include skills.html %}
